<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>create</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container pt-3">
  <div th:if="${duplicateName}" class="alert alert-danger alert-dismissable text-left" id="duplicateName" hidden="true">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    이미 존재하는 이름입니다.
  </div>
  <form th:action="@{/members/edit/{id}(id=${member.id})}" method="post">
    <div class="form-group">
      <label for="name">이름</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력하세요" th:value="${member.name}">
    </div>
    <button type="submit" class="btn btn-primary">수정</button>
  </form>
</div>

</body>
</html>